*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Nunito', sans-serif;
}

body{
    background-color: rgb(236, 241, 241);
}
h2{
    display: inline-block;
}
li{
    line-height: 2;
}
.title-box{
    height: 4.5rem;
    background-color: white;
    padding-top: 0.5rem;
    margin-bottom: 30px;
}
.logo{
    vertical-align: middle;
    padding-left: 15px;
}

header.title-box h1{
    display: inline-block;
    vertical-align:middle;
    padding-left: 3px;
}
.container{
    margin: 3rem auto;
    width: 70%;
    height: 35rem;
    background-color: white;
}

.container-button{
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
} 

.button{
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 10%;
    padding: 5px;  
}
section h2{
    margin-left: 5px;
}
ul{
    list-style-type: none;
    margin-bottom: 8px;
    margin-left: 5px;
}
li{
    margin-right: 5px;
}
.list-box{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    background-color: white;   
}
.done , .not-done{ 
    border: 1px solid;
    border-radius: 100%;    
    padding: 1.5px;
    margin-right: 10px;
    
}
.tag{
    color: white;
    margin-left: 10px;
    font-size: small;
    border-radius: 7%;  
    padding: 3px 7px;
} 

.done{
    color: rgb(13, 163, 13);
    border-color: rgb(13, 163, 13);
}

.not-done{
    color: red;
    border-color: red;
}
.editorial{
    background-color: rgb(11, 184, 236);
}

.q1{
    background-color: rgb(175, 35, 175);
}

.recruting{
    background-color: green;
}
.mobile{
    background-color: orange;
}
.website{
    background-color: violet;
}
.sales{
    background-color: greenyellow;
}
#separatore{
    height: 0.5rem;
}

#add-task {
    background-color: rgb(0, 132, 255);
    color: white;
    margin: 0 auto;
}

#add-section{
    background-color: white;   
    border: 1px solid lightgrey;
    color: lightgrey;
}


